*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 10vh;
    background-color: #eeeeee;
    overflow: hidden;
}

.header{
    /* border: 1px solid red; */
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    background-color: rgba(255, 255, 255, 0);
}

.header .burger{
    cursor: pointer;
    /* margin-left: 1em; */
}


/* burger menu animation */
.burger.active .bar:nth-child(2){
    opacity: 0;
}

.burger.active .bar:nth-child(1){
    transform: translateY(6px) rotate(45deg);
}

.burger.active .bar:nth-child(3){
    transform: translateY(-6px) rotate(-45deg);
}

/* burger menu's animation */

.header .burger .bar{
    display: block;
    background-color: #000000;
    width: 20px;
    height: 2px;
    margin: 4px auto;
    transition: all ease-in-out .4s;
}


.cart{
    /* border: 1px solid red; */
    width: 4em;
    display: flex;
    justify-content: space-between;
}

.header .cart .bx{
    cursor: pointer;
}


.nav{
    position: absolute;
    /* border: 1px solid red; */
    width: 30%;
    top: 3em;
    left: -100%;
    height: 30%;
    background-color: #585934;
    z-index: 1;
    transition: all ease-in-out .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 13px;
    /* border-radius: 20px; */
}

.nav.active{
    left: 0;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid purple; */
    height: 100%;
    width: 100%;
}

/* .nav ul li:hover{
    border: 1px solid red;
} */

.nav ul li .nav-link{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
    line-height: 2.3;
    padding-left: 1em;
}

.nav ul li .nav-link:hover{
    /* background-color: #000000; */
    text-decoration: underline;
}


/* header's code ends here */


/* background's ring lines */

.gold-line{
    position: absolute;
    height: 150%;
    width: 70%;
    border: 60px solid #585934 ;
    top: -23%;
    right: 69%;
    border-radius: 60%;
    z-index: -1;
    transition: all ease-in-out .5s;
}



.white-left-background{
    background-color: #ffffff;
    position: absolute;
    height: 120%;
    width: 55%;
    top: -8%;
    right: 78%;
    border-radius: 60%;
    z-index: -1;
}

/* background-right lines */


/* furniture */

.furniture-div{
    /* border: 1px solid orange; */
    position: absolute;
    top: 18%;
    right: 53%;
}

.furniture-div img{
    height: 23em;
    transition: all ease-in-out .5s;
    /* width: 30em; */
}


/* furniture */




/* SECTIONS  */
.second-sectionOne{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 3px solid red; */
    height: 80vh;
}

.right-cart{
    /* border: 3px solid green; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
}

.inside-box{
    /* border: 1px solid orange; */
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.right-cart .inside-box .top{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.right-cart .inside-box .top h2{
    font-size: 1.6em;
}

.right-cart .inside-box .top p{
    font-size: 1.2em;
}

.right-cart .inside-box .sizes{
    /* border: 1px solid purple; */
    width: 30%;
}


/* DETAILS LINK */
.right-cart .links{
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    flex-direction: column;
}

.right-cart .links a{
    text-decoration: none;
    color: #000000;
}

/* DETAILS LINK */


/* SIZE'S LINKS */

.right-cart .inside-box .sizes{
    height: 3em;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-cart .inside-box .sizes a{
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
}

/* SIZE'S LINKS */


.link a{
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
}



.right-cart .inside-box form select{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;

}

.right-cart .inside-box .buttoms{
    width: 100%;
    /* border: 1px solid aqua; */
    display: flex;
    justify-content: space-between;
}

.right-cart .inside-box .buttoms button{
    width: 49%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.right-cart .inside-box .buttoms button a{
    text-decoration: none;
    color: #000000;
}

.right-cart .inside-box .buttoms button:nth-child(1){
    background-color: #585934;
}

.right-cart .inside-box .buttoms button a:nth-child(1){
    display: block;
}

/* FOOTER'S CODE STARTS HERE */

#footer{
    /* border: 3px solid orange ; */
    height: 12vh;
    display: flex;
    align-items: center;
}


#footer .social{
    /* border: 2px solid coral; */
    margin-left: 3em;
    width: 10em;
    display: flex;
    justify-content: space-around;
}


#footer .social a:hover{
    transform: translateY(-2px);
    transition: all ease-in .3s;
}